apiVersion: v1
kind: Secret
metadata:
  name: cofrap-secrets
  namespace: cofrap
type: Opaque
stringData:
  ENCRYPTION_KEY: "YOUR_FERNET_ENCRYPTION_KEY_HERE"
  DATABASE_URL: "postgresql://cofrap:YOUR_DB_PASSWORD_HERE@postgres.cofrap.svc.cluster.local:5432/cofrap"
