@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at 50% 50%, #151821 0%, #090a0f 100%);
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #f3f4f6;
  overflow-x: hidden;
}
